{% extends 'helper/base.html' %}
{% load static staticfiles %}

{% block title %}
    微信小助手-登录
{% endblock %}

{% block content %}
    <div id="main">
        <img id="pic" :src="pic_src">
        <div id="text">[[text]]</div>
        <my-button v-if="status==0" :id="login.id" :color="login.color" :click="login.func">[[login.text]]</my-button>
        <my-button v-if="status==1" :id="reload.id" :color="reload.color" :click="reload.func">[[reload.text]]</my-button>
        <my-button v-if="status==2" :id="exit.id" :color="exit.color"  :click="exit.func">[[exit.text]]</my-button>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static "js/web-socket.js" %}"></script>
    <script>
        var main = new Vue({
            el: '#main',
            delimiters: ["[[", "]]"],
            data: {
                login:{
                    text: '登陆',
                    id: 'login',
                    color: 'limegreen',
                    func: function () {
                        login_func()
                    }
                },
                exit: {
                    text: '退出',
                    id: 'exit',
                    color: 'crimson',
                    func: function () {
                        exit_func()
                    }
                },
                reload: {
                    text: '重启',
                    id: 'reload',
                    color: 'dimgray',
                    func: function () {
                        reload_func()
                    }
                },
                status: 0,
                text: "",
                pic_src: "",
                sock: null
            }
        })

        function run_func(){
            main.status = 2
            reload_func()
        }

        function exit_func(){
            if (confirm("你确定要退出么?")) {
                $.post("/helper/logout/", function(data){
                    alert(data);
                    reload_func();
                });
            }
        }

        function login_func(){
            main.text = "正在获取二维码"
            main.status = 1
            $.post("/helper/login/");
        }

        function reload_func(){
            main.status = main.status == 1 ? 0 : main.status
            window.top.location.href = '/helper/'
        }
        
        $(document).ready(function(){
            main.text = '{{msg}}'
            main.pic_src = '/' + '{{pic}}';
            if('{{status}}' == 'False'){
                main.status = 0
            }
            else if('{{status}}' == 'True'){
                main.status = 2
            }

            if (main.status != 2) {
                var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
                main.sock = new WebSocket(ws_scheme + '://' + window.location.host + "/login/");

                main.sock.onmessage = function (message) {
                    var data = JSON.parse(message.data)
                    main.text = data.msg
                    main.pic_src = '/' + data.pic;
                    if (data.msg == '小助手运行中'){
                        run_func()
                        main.sock.close()
                        main.sock = null
                    }
                };
            }
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        #main{
            position: relative;
            width: 300px;
            height: 400px;
            background-color: #ffffff;
            margin-left: -150px;
            margin-top: -200px;
            text-align: center;
            left: 50%;
            top: 50%;

            /*圆角*/
            -moz-border-radius: 10px;
            border-radius: 10px;

            /*阴影*/
            -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .1), inset 1px 1px 1px rgba(255,255,255, .2);
            -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .1), inset 1px 1px 1px rgba(255,255,255, .2);
            box-shadow: 1px 1px 1px rgba(0,0,0, .1), inset 1px 1px 1px rgba(255,255,255, .2);
        }
        #main img{
            height: 290px;
            width: 290px;
            position: relative;
            top: 5px;
        }
        #main #text{
            width: 300px;
            position: relative;
            margin: 1em 0 0 0;
            text-align: center;
        }
    </style>
{% endblock %}