{% extends 'helper/base.html' %}
{% load static staticfiles %}

{% block title %}
    微信小助手-登录
{% endblock %}

{% block content %}
    <div class="login_block">
        <img id="pic" src="">
        <div id="text"></div>
        {% for button in button_list %}
            <a href="javascript:;">
            <div id="{{button.id}}" class="button" style="display: none;" onclick="{{button.id}}_func()">{{button.text}}</div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static "js/web-socket.js" %}"></script>
    <script>
        var button = $(".button");
        var login = $("#login");
        var text = $("#text");
        var pic = $("#pic");
        var exit = $("#exit");
        var reload = $('#reload');

        function run_func(){
            reload.hide();
            exit.show();
            reload_func();
        }
        function exit_func(){
            if (confirm("你确定要退出么?")) {
                $.post("/helper/logout/", function(data){
                    alert(data);
                    reload_func();
                });
            }
        }
        function login_func(){
            text.text("正在获取二维码");
            login.hide();
            reload.show();
            $.post("/helper/login/");
        }

        function reload_func(){
            window.top.location.href = '/helper/'
        }
        
        $(document).ready(function(){
            text.text('{{msg}}');
            pic[0].src = '/' + '{{pic}}';
            if('{{status}}' == 'False'){
                login.show();
            }
            else if('{{status}}' == 'True'){
                exit.show();
            }

            if (text.text() != '小助手运行中') {
                var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
                sock = new WebSocket(ws_scheme + '://' + window.location.host + "/login/");

                sock.onmessage = function (message) {
                    var data = JSON.parse(message.data)
                    text.text(data.msg);
                    pic[0].src = '/' + data.pic;
                    if (data.msg == '小助手运行中'){
                        run_func();
                        sock.close();
                    }

                    else if (data.msg == '错误,请重新登录') {
                        ;
                    }
                };
            }

            button.hover(
                function(){
                    var color = $(this).css('border-color');
                    $(this).css('color', 'rgb(255, 255, 255)');
                    $(this).css('background-color', color);
                },
                function () {
                    var color = $(this).css('border-color');
                    $(this).css('background-color', 'rgb(255, 255, 255)');
                    $(this).css('color', color);
                }
            );
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        .login_block{
            position: relative;
            width: 300px;
            height: 400px;
            background-color: #ffffff;
            margin-left: -150px;
            margin-top: -200px;
            text-align: center;
            left: 50%;
            top: 50%;

            /*圆角*/
            -moz-border-radius: 10px;
            border-radius: 10px;

            /*阴影*/
            -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .1), inset 1px 1px 1px rgba(255,255,255, .2);
            -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .1), inset 1px 1px 1px rgba(255,255,255, .2);
            box-shadow: 1px 1px 1px rgba(0,0,0, .1), inset 1px 1px 1px rgba(255,255,255, .2);
        }
        .login_block img{
            height: 290px;
            width: 290px;
            position: relative;
            top: 5px;
        }
        .login_block #text{
            width: 300px;
            position: absolute;
            top: 300px;
            text-align: center;
        }
        a{
            top: 50px;
            position: relative;
        }
        .button{
            width: 80px;
            display: inline-block;
            padding: 0 20px;
            text-align: center;
            text-decoration: none;
            font: 16px/30px Arial, sans-serif;

            -moz-border-radius: 30px;
            border-radius: 30px;

            -webkit-transition: all 0.15s ease;
            -moz-transition: all 0.15s ease;
            -o-transition: all 0.15s ease;
            -ms-transition: all 0.15s ease;
            transition: all 0.15s ease;
        }
        #login{
            border: 1px solid limegreen;
            color: limegreen;
        }
        #reload{
            border: 1px solid dimgray;
        }
        #exit{
            border: 1px solid crimson;
            color: crimson;
        }
    </style>
{% endblock %}