{% extends 'helper/base.html' %}
{% load static staticfiles %}

{% block title %}
    微信小助手-错误
{% endblock %}

{% block content %}
    <div id="text">非法访问, 请返回登录界面</div>
    <div class="block">
    <a href="/helper">
    <div class="button">登录</div>
    </a>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function(){
            var button = $('.button');
            button.hover(
                function(){
                    var color = $(this).css('border-color');
                    $(this).css('color', 'rgb(255, 255, 255)');
                    $(this).css('background-color', color);
                },
                function () {
                    var color = $(this).css('border-color');
                    $(this).css('background-color', 'rgb(255, 255, 255)');
                    $(this).css('color', color);
                }
            );
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        .block{
            position: relative;
            width: 200px;
            margin-left: -100px;
            text-align: center;
            left: 50%;
            top: 45%;
        }
        #text{
            width: 500px;
            margin-left: -250px;
            position: absolute;
            text-align: center;
            left: 50%;
            top: 40%;
            font: 16px/30px Arial, sans-serif;
        }
        
        .button{
            width: 100px;
            height: 30px;
            margin: 0px 0px;
            display: inline-block;
            position: relative;
            padding: 0 20px;
            text-align: center;
            text-decoration: none;
            font: 16px/30px Arial, sans-serif;

            -moz-border-radius: 30px;
            border-radius: 30px;

            -webkit-transition: all 0.15s ease;
            -moz-transition: all 0.15s ease;
            -o-transition: all 0.15s ease;
            -ms-transition: all 0.15s ease;
            transition: all 0.15s ease;
            background-color: white;
            border: 1px solid limegreen;
            color: limegreen;
        }
        a{
            text-decoration:none;
        }
    </style>
{% endblock style %}