{% extends 'helper/base.html' %}
{% load static staticfiles %}

{% block title %}
    微信小助手
{% endblock %}

{% block content %}
    <div class="siderbar" id="sidebar_main">
        <div class="siderbar" id="sidebar_head"><img id='icon' src='/static/images/wx_icon.png'></div>
        <ul id="siderbae_list">
            {% for item in item_list %}
            <li class="off"><a id="{{item.id}}">{{item.text}}</a></li>
            {% endfor %}
        </ul>
        <div class="siderbar" id="sidebar_foot">微信小助手<br>By Cheer.L</div>
    </div>
    <iframe class="page" src='{{page}}/'></iframe>
{% endblock %}

{% block script %}
    <script>
        var list = $("li");
        // var ul = $('ul');
        var page = $('.page');
        var top_window = $(window);

        function resize_func(){
            page.width(top_window.innerWidth() - $('#sidebar_main').width() - 5);
        }
        $(document).ready(function(){
            resize_func();
            top_window.resize(resize_func);
            $('a#{{page}}').parent().attr('class', 'on');
            list.click(function(){
                if($(this).attr('class') == "off"){
                    $('li.on').css('background-color', '');
                    $('li.on').css('border-color', 'rgba(0,0,0, .15)');
                    $('li.on').attr('class', 'off');
                    $(this).attr('class', 'on');
                    page[0].src = $(this).children().attr('id') + '/';
                }
            });
            list.hover(
                function(){
                    if($(this).attr('class') == "off"){
                        $(this).css('background-color', 'rgba(0,0,0, .15)');
                        $(this).css('border-color', 'rgba(0,0,0, 0)');
                    }
                },
                function(){
                    if($(this).attr('class') == "off"){
                        $(this).animate({
                            backgroundColor: 'rgba(0,0,0,0)',
                            borderColor: 'rgba(0,0,0, .15)'
                        }, 300);
                    }
                }
            );
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        .page{
            float: left;
            height: 100%;
            width: 100%;
        }
        .siderbar{
            float: left;
            border: 0px solid rgba(0,0,0, .15);
            width: 120px;
            color: #f6f9f6;
        }
        .siderbar#sidebar_main{
            background-color: rgba(0,0,0, .6);
            height: 100%;
        }
        .siderbar#sidebar_head{
            border-bottom-width: 1px;
            /*padding: 30px 0;*/
            height: 10%;
        }
        .siderbar#sidebar_foot{
            position: absolute;
            margin-top: -50px;
            top: 100%;
            font: 8px Arial, sans-serif;
        }
        .siderbar ul{
            position: relative;
            list-style: none;
            text-align: center;
        }
        .siderbar li{
            position: relative;
            width: 100%;
            float: left;
            border: 0px solid rgba(0,0,0, .15);
            border-bottom-width: 1px;
        }
        .siderbar li.on{
            background-color: rgba(0,0,0, .15);
            border-color: rgba(0,0,0, 0);
        }
        .siderbar li a{
            float: left;
            padding: 30px 0;
            width: 100%;
        }
        img#icon{
            width: 45px;
            height: 45px;
            padding: 10px;
        }
    </style>
{% endblock %}

