{% load static staticfiles %}

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<input type="text" id="content" value="Hello, World!" />
<input type="text" id="channel" value="login" />
<button type="button" id="send">Send message</button>
<div id='msg'></div>

<script src="{% static "js/web-socket.js" %}"></script>
<script>
    $(function(){
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var sock = new WebSocket(ws_scheme + '://' + window.location.host + "/login/");

        sock.onopen = function () {
            sock.send('login');
        }
        sock.onmessage = function(message) {
            alert(1);
            var data = JSON.parse(message.data)
            $('div#msg').prepend('<p>' + data.msg + '</p>');
        };
        $('#send').click(function(){
            var content = $('#content').val();
            var channel = $('#channel').val();
            var url = '/helper/send/content=' + content + '&channel=' + channel;
            $.get(url);
        });
    });
</script>