{% extends 'helper/base.html' %}
{% load static staticfiles %}

{% block title %}
    微信小助手-设置
{% endblock %}

{% block content %}
    <div class="content" style="width: 50%">
    {% for item in bool_list %}
        <div class="input">
            <div class="input__field" id='{{item.name}}' value='{{item.val}}' lab='bool'>
            <div class="button {{item.val}}">
                <div class="inner"></div>
            </div>
            </div>
            <label class="input__label" for="{{item.name}}">
                <span class="input__label-content">{{item.show}}</span>
            </label>
            <br>
        </div>
    {% endfor %}
    </div>
    <div class="content" style="width: 50%">
    {% for item in num_list %}
        <div class="input">
            <input class="input__field" type="text" id="{{item.name}}" value="{{item.val}}" lab='num'>
            <label class="input__label" for="{{item.name}}">
                <span class="input__label-content">
                    {{item.show}}
                    {% if item.name == 'FLEXIBLE_DAY' %}
                    {% else %}
                        (分钟)
                    {% endif %}
                </span>
            </label>
            <br>
        </div>
    {% endfor %}
    </div>
    <div class="content" style="width: 100%; padding-top: 0">
    <div id="send_buttom">确认</div>
    </div>
    
{% endblock %}

{% block script %}
    <script>
        $(function(){
            var button = $(".button");
            var confirm_buttom = $('div#send_buttom');
            
            function flexible(){
                if($('#FLEXIBLE').attr('value') == 'False'){
                    $('#FLEXIBLE_DAY').parent().hide();
                }
                else{
                    $('#FLEXIBLE_DAY').parent().show();
                }
            }
            flexible()
            button.click(function(){
                if ($(this).parent().attr('value') == 'True'){
                    $(this).parent().attr('value', 'False');
                    $(this).children().animate({
                        right:'52px',
                        top:'1px'
                    },300);
                    $(this).animate({
                        backgroundColor:'rgba(0,0,0,0.1)',
                        borderColor:'rgba(255,255,255,0.4)',
                    },300);
                    flexible()
                }
                else{
                    $(this).parent().attr('value', 'True');
                    $(this).children().animate({
                        right:'0px',
                        top:'1px'
                    },300);
                    $(this).animate({
                        backgroundColor:'rgba(50,205,50,0.8)',
                        borderColor:'rgba(0,0,0,0)',
                    },300);
                    flexible()
                }
                $(this).removeClass('True').removeClass('False');
            });
            confirm_buttom.click(function () {
                var item_list = $('.input__field');
                var result = new Array();
                for (i = 0; i < item_list.length; i++){
                    var item = item_list.eq(i);
                    result.push(
                        '"' + item.attr('id') + '":' +
                        ((item.attr('lab') != 'bool')?(
                            (item.attr('id')=='FLEXIBLE_DAY')?
                            '"' + item.val() + '"'
                            :item.val())
                            :item.attr('value'))
                    );
                }
                var res = '{' + result.join(',') + '}';
                $.post('/helper/setting/change/', {res:res}, function (data) {
                    if (data.res){
                        alert(data.msg);
                        window.location.href = '/helper/setting/'
                    }
                    else{
                        alert(data.msg);
                    }
                });
            });
            confirm_buttom.hover(
                function(){
                    $(this).animate({
                        backgroundColor: 'rgba(50, 205, 50, 1)',
                        color: 'rgba(255, 255, 255, 1)'
                    }, 300);
                },
                function () {
                    $(this).animate({
                        backgroundColor: 'rgba(255, 255, 255, 1)',
                        color: 'rgba(50, 205, 50, 1)'
                    }, 300);
                }
            );
        });
    </script>
{% endblock %}

{% block style %}
    <style>
    /*全局*/
        *, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

        .container {
            margin: 0 auto;
            overflow: hidden;
        }

        .content {
            font-size: 150%;
            padding: 7em 5em 5em 1em;
            text-align: center;
            float: left;
        }

        .bgcolor-1 { background: #f0efee; }

        body .nomargin-bottom {
            margin-bottom: 0;
        }

    /*单选框部分*/
        .input {
            position: relative;
            z-index: 1;
            display: inline-block;
            margin: 1em;
            max-width: 300px;
            width: calc(100% - 2em);
            vertical-align: top;
            margin: 1em;
        }

        .input__field {
            position: relative;
            display: block;
            float: right;
            padding: 0.8em;
            width: 120px;
            height: 80px;
            left: 180px;
            /*border: none;*/
            /*border-radius: 0;*/
            background: #f0f0f0;
            color: #aaa;
            font-weight: bold;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            -webkit-appearance: none; 
            padding: 0.4em 0.25em;
            width: 100%;
            background: transparent;
            color: #AFB5BB;
            font-size: 1.55em;
            /*left: 30%;*/
        }

        .input__field:focus {
            padding: 0.4em 0.25em;
            background: transparent;
            color: #AFB5BB;
            font-size: 1.55em;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.2s;
            outline: none;
        }

        .input__label {
            display: inline-block;
            padding: 0 1em;
            width: 40%;
            color: #6a7989;
            font-weight: bold;
            font-size: 70.25%;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: absolute;
            width: 100%;
            text-align: left;
            pointer-events: none;
        }

        .input__label-content {
            position: relative;
            display: block;
            padding: 1.6em 0;
            width: 100%;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.2s;
        }

        .input__label::before,
        .input__label::after {
            content: '';
            position: absolute;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 4px;
            background: #6a7989;
        }

        .input__label::before {
            top: 0;
        }

        .input__label::after {
            bottom: 0;
        }
        .input__field:focus + .input__label .input__label-content{
            -webkit-transform: translate3d(0, -90%, 0);
            transform: translate3d(0, -90%, 0);
        }
        .input__field:focus{
            transform: translate3d(-60px, 0, 0);
        }

        .input__field:focus + .input__label::before,
        .input--filled .input__label::before {
            -webkit-transform: translate3d(0, -0.5em, 0);
            transform: translate3d(0, -0.5em, 0);
        }

        .input__field--haruki:focus + .input__label--haruki::after,
        .input--filled .input__label--haruki::after {
            -webkit-transform: translate3d(0, 0.5em, 0);
            transform: translate3d(0, 0.5em, 0);
        }
    /*开关部分*/
        .button{
            position: relative;
            width: 100px;
            height: 50px;
            border-radius: 100px;
            position: relative;
        }
        .inner{
            width: 48px;
            height: 48px;
            border-radius: 100px;
            position: absolute;
            border:1px solid rgba(0,0,0,0.15);
            background: white;
        }
        .button.True{
            background: rgba(50,205,50,0.8);
            border:1px solid rgba(0,0,0,0);
        }
        .button.False{
            background: rgba(0,0,0,0.1);
            border:1px solid rgba(255,255,255,0.4);
        }
        .True .inner{
            right: 0px;
        }
        .False .inner{
            right: 52px;
        }
    /*确认按钮*/
        div#send_buttom{
            z-index: 100;
            position: relative;
            /*left: 50%;*/
            /*width: 80px;*/
            /*top: 100%;*/
            /*margin-left: -80px; */
            /*margin-top: -32px; */
            display: inline-block;
            padding: 0px 20px;
            text-align: center;
            font: 18px/34px Arial, sans-serif;
            /*font-size: 100%;*/

            background-color: white;

            -moz-border-radius: 30px;
            border-radius: 30px;

            -webkit-transition: all 0.15s ease;
            -moz-transition: all 0.15s ease;
            -o-transition: all 0.15s ease;
            -ms-transition: all 0.15s ease;
            transition: all 0.15s ease;
            border: 1px solid limegreen;
            text-decoration: none;
            color: limegreen;
        }
    </style>
{% endblock %}