{% load static staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>微信小助手</title>
    </head>
    <body>
        <div id="text">请点击下面的登陆键</div>
        <br>
        <img id="pic" src="" class="1" type="hidden">
        <br>
        <a><button id="button">登陆</button></a>
    </body>
    <script src="{% static "js/jquery-3.1.1.js" %}"></script>
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script>
        $(document).ready(function(){
            $("#button").click(function(){
                $.get("login", function(data){
                    var pic = $("#pic")[0];
                    pic.src = data;
                    pic.show();
                    $("#text").text() = "请扫描二维码"
                    $.get("login", function(){pic.hide();});
                });
            });
        });
    </script>
</html>

