{% load static staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>微信小助手</title>
    </head>
    <body>
        <div id="text"></div>
        <br>
        <img id="pic" src="" style="height: 250px; width: 250px; display: none;">
        <br>
        <button id="login" onclick="login_func()">登陆</button>
        <button id="run" style="display: none;" onclick="run_func()">运行</button>
        <button id="exit" style="display: none;" onclick="exit_func()">退出</button>
        <button id="reload" style="display: none" onclick="reload_func()">重启</button>
        <div id='is_login' style="display: none">{{is_login}}</div>
        <div id='is_run' style="display: none">{{is_run}}</div>
        <div id='is_wait' style="display: none">{{is_wait}}</div>
    </body>
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script>

        var login = $("#login");
        var run = $("#run");
        var text = $("#text");
        var pic = $("#pic");
        var exit = $("#exit");
        var reload = $('#reload')
        function run_func(){
            $.get("run", function(data){
                text.text(data);
                run.hide();
            });
        }
        function exit_func(){
            if (confirm("你确定要退出么?")) {
                $.get("logout", function(data){
                    alert(data);
                    window.location.reload();
                });
            }
        }
        function login_func(){
            text.text("正在获取二维码");
            login.hide();
            $.post("login", {status:0, uuid:null}, function(data){
                reload.show();
                if (data.res == 'uuid success'){
                    pic[0].src = '/static/QR.png';
                    pic.show();
                    text.text("请扫描二维码");
                    uuid = data.uuid
                    setTimeout('after_scan(uuid)', 500)
                }
                else if (data.res == 'hot reload success'){
                    pic.hide();
                    run.show();
                    exit.show();
                    text.text("登陆成功, 请点击运行");
                }
                else{
                    text.text('登陆出错, 请重新登陆');
                    pic.hide();
                }
            }, 'json');
        }
        function reload_func(){
            $.get("reload", function(){
                window.location.reload();
            });
        }
        function after_scan(uuid){
            $.post("login", {status:1, uuid:uuid}, function(data){
                if (data.res == "login success"){
                    pic.hide();
                    run.show();
                    exit.show();
                    text.text("登陆成功, 请点击运行");
                }
                else{
                    text.text("登陆出错, 请重新登陆");
                    pic.hide();
                }
            }, 'json');
        }
        $(document).ready(function(){
            var is_login = $('#is_login').text();
            var is_run = $('#is_run').text();
            var is_wait = $('#is_wait').text();
            if (is_login == 'False') {
                if (is_wait == 'True') {
                    pic[0].src = '/static/QR.png';
                    pic.show();
                    text.text("请扫描二维码");
                    setTimeout('after_scan()', 500)
                }
                else {
                    text.text('请点击下面的登陆键');
                }
            }
            else {
                login.hide();
                reload.show();
                exit.show();
                if (is_run == 'False') {
                    run.show();
                    text.text('登陆成功, 请点击运行');
                }
                else {
                    text.text('正在运行');
                }
            }
        });
    </script>
</html>

