.vscode/*
test/*
pid/*
collected_static/*
**/__pycache__/*
**/migrations/*
**/.ipynb_checkpoints/*
static/head/*
static/voice/*
static/images/*
test*
*.ipynb
*.csv
*.mp3
*.pyc
*.pkl
*.log
*.out
*.code-workspace
db.sqlite3
