.vscode/*
test/*
pid/*
collected_static/*
**/__pycache__/*
**/migrations/*
**/.ipynb_checkpoints/*
media/head/*
media/voices/*
media/images/*
test*
*.ipynb
*.csv
*.rdb
*.mp3
*.pyc
*.pkl
*.log
*.out
*.code-workspace
db.sqlite3
