**/.ipynb_checkpoints/*
**/__pycache__/*
**/migrations/*
.vscode/*
test/*
pid/*
collected_static/*
**/.env
media/images/head/*
media/voices/*
media/images/robot_head.png
test*
*.ipynb
*.csv
*.rdb
*.mp3
*.pyc
*.pkl
*.log
*.out
*.code-workspace
db.sqlite3
