[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "ts"

[packages]
django = "*"
channels = "*"
itchat = "*"
threadpool = "*"
requests = "*"
"beautifulsoup4" = "*"
pillow = "*"
daphne = "*"
lxml = "*"
channels-redis = "*"
pypng = "*"
pyqrcode = "*"
twisted = "*"
tencentcloud-sdk-python = "*"
asgiref = "==2.3"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.5"
