<!DOCTYPE html>
<html>

<head>
    <title>django-websocket</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        this.active_channel = null
        this.socket = {}

        check_websocket = channel => {
            return (this.socket.hasOwnProperty(channel) && this.socket[channel] instanceof WebSocket)
        }

        close_websocket = channel => {
            if (this.socket.hasOwnProperty(channel)) {
                if (this.active_channel === channel) {
                    this.active_channel = null
                }
                if (this.socket[channel] instanceof WebSocket) {
                    this.socket[channel].close()
                }
                delete this.socket[channel]
            }
        }

        close_all_websockets = () => {
            for (const channel in this.socket) {
                close_websocket(channel)
            }
            this.socket = {}
        }

        connect_websocket = channel => {
            if (check_websocket(channel)) {
                this.active_channel = channel
            } else {
                var socket = new WebSocket(
                    (window.location.protocol === "https:" ? "wss:" : "ws:") + '//' +
                    window.location.host + "/chatroom/channel=" + channel + '/'
                )
                socket.onopen = () => {
                    this.active_channel = channel
                    console.log('WebSocket open')
                }
                socket.onclose = () => {
                    console.log('WebSocket close')
                }
                socket.onmessage = message => {
                    const data = JSON.parse(message.data)
                    const from_channel = data['channel']
                    const msg = data['msg']
                    $('#messagecontainer').prepend('<p>From: ' + from_channel + ' || ' + msg + '</p>')
                }
                this.socket[channel] = socket
            }
        }

        send_message = text => {
            if (this.active_channel && check_websocket(this.active_channel)) {
                this.socket[this.active_channel].send(text)
            }
        }

        window.onbeforeunload = close_all_websockets

        $(function() {
            $('#connect_websocket').click(() => {
                const channel = $('#channel').val()
                connect_websocket(channel)
            })

            $('#send_message').click(() => {
                const text = $('#message').val()
                send_message(text)
            })

            $('#close_websocket').click(() => {
                const channel = $('#channel').val()
                close_websocket(channel)
            })
        })
    </script>
</head>

<body>
    <br>
    <input type="text" id="message" value="Hello, World!" />
    <input type="text" id="channel" value="default" />
    <button type="button" id="connect_websocket">Connect websocket</button>
    <button type="button" id="send_message">Send message</button>
    <button type="button" id="close_websocket">Close websocket</button>
    <h1>Received Messages</h1>
    <div id="messagecontainer">

    </div>
</body>

</html>