{% load static staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}默认标题{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />	
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static "css/superfish.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
    <script src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script src="{% static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Stellar -->
	<script src="{% static "js/jquery.stellar.min.js" %}"></script>
	<!-- Superfish -->
	<script src="{% static "js/hoverIntent.js" %}"></script>
	<script src="{% static "js/superfish.js" %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/magnific-popup-options.js" %}"></script>
	<!-- Main JS -->
	<script src="{% static "js/main.js" %}"></script>

	</head>
	<body>
        <!-- 导航栏 -->
		<div id="fh5co-header">
			<header id="fh5co-header-section">
                <div class="fh5co-overlay-bar"></div>
				<div class="container">
					<div class="nav-header">
						<h1 id="fh5co-logo"><a href="/blog">Cheer.L</a></h1>
                        
						<!-- 导航条 -->
						<nav id="fh5co-menu-wrap" role="navigation">
							<ul class="sf-menu" id="fh5co-primary-menu">
								<li class="active"><a href="/blog">主页</a></li>
								<li><a href="#">博客</a></li>
                                <li><a href="#" class="fh5co-sub-ddown">分类</a>
									<ul class="fh5co-sub-menu">
										{% for category in category_list %}
										<li><a href="#" target="_blank">{{category}}</a></li>
										{% endfor %}
									</ul>
								</li>
								<li><a href="#">关于</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
		</div>     
        {% block content %}
        默认内容
        {% endblock %}
        
		<!-- 底部 -->
        <footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
							<h3>关于</h3>
							<p>
                                中国科学院院大学数学渣,<br>
                                不务正业写代码.<br>
                                <br>
                                Cheer.L
                            </p>
						</div>
						<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
							<h3>分类</h3>
								<ul class="float">
									{% for category in category_list %}
									{% if forloop.counter is 1 or forloop.counter is 3 or forloop.counter is 5 or forloop.counter is 7 or forloop.counter is 9 %}
									<li><a href="#">{{category}}</a></li>
									{% endif %}
									{% endfor %}
								</ul>
								<ul class="float">
									{% for category in category_list %}
									{% if forloop.counter is 2 or forloop.counter is 4 or forloop.counter is 6 or forloop.counter is 8 or forloop.counter is 10 %}
									<li><a href="#">{{category}}</a></li>
									{% endif %}
									{% endfor %}
								</ul>
						</div>

						<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
							<h3>联系</h3>
							<ul class="fh5co-social">
								<li><a href="#"><i class="icon-twitter2"></i> Twitter</a></li>
								<li><a href="#"><i class="icon-facebook2"></i> Facebook</a></li>
								<li><a href="#"><i class="icon-google-plus2"></i> Google Plus</a></li>
								<li><a href="#"><i class="icon-instagram2"></i> Instagram</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>

