{% load static staticfiles %}
<html>
    <head>
        <title>SSH -- 登录</title>
        <link rel="stylesheet" href="{% static "css/gateone.css" %}">
        <link href="{% static "images/favicon-ssh.ico" %}" rel="shortcut icon" />
    </head>
    <body> 
        <div id="gateone_container" style="position: relative; width: 100%; height: 100%; margin: 0 auto;">
            <form method='post' enctype="multipart/form-data">
                {{uf.as_p}}
                <input id='login' type="submit" value = "登录" />
            </form>
        </div>
    </body>
    
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script>
        $(function(){
            var info = "{{info}}";
            if (info != ""){
                alert(info);
            }
        });
    </script>
    <style>
        form{
            position: relative;
            width: 200px;
            height: 200px;
            left: calc(50vw - 100px);
            top: calc(50vh - 100px);
        }
        #login{
            position: relative;
            left: calc(50% - 35px);
            width: 70px;
        }
        label{
            width: 50px;
        }
        input{
            width: 150px;
        }
    </style>
</html> 
