<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>
        Welcome -- 跳转页
    </title>
</head>

<body>
    <div id='main' :style="style_object">
        {% for url in url_list %}
        <my-button href="/{{url.url}}/" :font="font">{{url.text}}</my-button>
        {% endfor %}
    </div>
</body>

<script src=/static/js/jquery-3.1.1.min.js></script>
<script src=/static/js/vue.js></script>
<script src=/static/js/my-vue.js></script>
<script src=/static/js/others.js></script>


<script>
    var main = new Vue({
        el: '#main',
        data: {
            font: 23,
            style_object:  {
                width: 0,
                height: 0,
                left: 0,
                top: 0,
                position: 'relative'
            }
        },
        computed: {
            child_num: function () {
                return this.$children.length
            }
        },
        methods: {
            resize: debounce(
                function () {
                    if (this.child_num) {
                        var childern = this.$children[0]
                        var width = 2 * childern.$el.offsetLeft + childern.$el.offsetWidth
                        var height = (2 * childern.$el.offsetTop + childern.$el.offsetHeight) * this.child_num
                        this.style_object.width = width
                        this.style_object.height = height
                        center(this.style_object)
                    }
                },
                50
            )
        },
        mounted: function () {
            this.resize()
            window.addEventListener('resize', this.resize)
        },
        beforeDestroy: function () {
            window.removeEventListener('resize', this.resize)
        }
    })

    
</script>

<style>
    * {
        border: 0;
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #f6f9f6;
    }
    
    div {
        color: dimgray;
        text-align: center;
    }
</style>

</html>